In [2]:
import uuid
import asyncio
import asynctnt

In [3]:
async def get_conn():
    conn = asynctnt.Connection(host="localhost", port=3302, username='admin', password='pass')
    await conn.connect()
    return conn

In [5]:
space_name = 'users3'
'''box.space.users3:drop()'''

'box.space.users3:drop()'

In [7]:
conn = await get_conn()
data = await conn.select('tester2', [])
tup = data[0]
print('tuple:', tup)

tuple: <TarantoolTuple id=1 band_name='ABBA' year=17>

In [8]:
conn = await get_conn()
data = await conn.execute("select 1 as a, 2 as b")
print(data)

<Response sync=4 rowcount=1 data=[<TarantoolTuple A=1 B=2>]>

In [9]:
async def do_sql(conn: asynctnt.Connection):
    # in console
    '''
    box.execute([[ create table users (
            id int primary key,
            name text
        )    ]])
    '''
    try:
        await conn.execute("insert into users (id, name) values (?, ?);", (1, 'James Bond'))
    except asynctnt.exceptions.TarantoolDatabaseError as exc:
        print(str(exc))
        print()

    data = await conn.execute('select * from users')
    for row in data:
        print(row)

In [68]:
async def do_sql2(conn: asynctnt.Connection):
        # in console
    '''  
    # -- Create a sequence --
    box.schema.sequence.create('id_seq',{min=1, start=1, if_not_exists = true})
    or
    box.schema.sequence.create('id_',        { if_not_exists = true })
    box.space.user2:create_index('primary', {
        parts = { 'id' },
        sequence = 'id_seq',
        unique = true,
        type = 'HASH',
        if_not_exists = true
    })

    box.space.user2:insert{nil, 'pen', 123}
    box.space.user2:select()
    box.schema.space.create('users2')
    box.execute([[CREATE TABLE users3 (column1 INT PRIMARY key, column2 VARCHAR(10));]])
    box.execute([[CREATE TABLE users3 (id INT PRIMARY key, name text);]])

    # -- Create an index that uses the sequence --
    box.space.users2:create_index('primary',{ sequence = 'id_seq' })
    '''
    await conn.execute("insert into goods (name, code, row_ver) values (?, ?, ?);", ('James Bond', 2, 1))
    data = await conn.execute('select * from goods')
    for row in data:
        print(row)

In [10]:
async def do():
    conn = await get_conn()
    print(conn)
    await do_sql(conn)
    # await do_sql2(conn)
    await conn.disconnect()
    print(conn)

In [11]:
# loop = asyncio.get_event_loop()
# loop.create_task(do())
# asyncio.run_coroutine_threadsafe(do(), loop)
await do()

<asynctnt.Connection host=localhost port=3302 state=<ConnectionState.CONNECTED: 2>>
Duplicate key exists in unique index 'pk_unnamed_USERS_1' in space 'USERS'

<TarantoolTuple ID=1 NAME='James Bond'>
<asynctnt.Connection host=localhost port=3302 state=<ConnectionState.DISCONNECTED: 5>>

In [12]:
conn = await get_conn()
data = await conn.execute('select * from goods')
print(data)
await conn.disconnect()

<Response sync=4 rowcount=0 data=[]>

In [13]:
table_name = 'users5'
'''in console
box.execute([[CREATE TABLE users5 (id INTEGER PRIMARY KEY AUTOINCREMENT, name text);]])
'''
conn = await get_conn()
await conn.execute("insert into users5 (name) values (?);", ('James Bond',))

data = await conn.execute(f'select * from {table_name}')
print(data)
await conn.disconnect()

<Response sync=6 rowcount=3 data=[<TarantoolTuple ID=1 NAME='James Bond'>, <TarantoolTuple ID=2 NAME='James Bond'>, <TarantoolTuple ID=3 NAME='James Bond'>]>

In [ ]:
# TODO (not checked)
# box.schema.sequence.create('id_seq',{min=1, start=1, if_not_exists = true})
# box.schema.space.create('user4', {
#     format = {
#         {name = 'id', type = 'unsigned' },
#         {name = 'name', type = 'string' },
#         {name = 'code', type = 'unsigned'},
#     },
#     if_not_exists = true
# })

# box.schema.sequence.create('user4_id',  { if_not_exists = true })
# box.space.users4:create_index('primary',{ parts = { 'id' },
#         sequence = 'user4_id',
#         unique = true,
#         type = 'HASH',
#         if_not_exists = true})

In [ ]:
# TODO (not checked)
# box.schema.sequence.create('seq2',
#     { if_not_exists = true })

# box.space.goods:create_index('primary', {
#     parts = { 'id' },
#     sequence = 'seq2',
#     unique = true,
#     type = 'HASH',
#     if_not_exists = true
# })

# box.execute([[CREATE TABLE goods (id INT PRIMARY key, name text, code int, row_ver int);]])